@import 'variables'
    
*
    margin: 0
    padding: 0
    font-family: 'Nunito'
    list-style: none


// debug
body
    background-color: $third-color

// navbar
header
    z-index: 1
    position: fixed
    width: 100%
.navbar
    background-color: $third-color
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 20px
    img
        cursor: pointer

.account
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-around
    width: 150px
    @media screen and (max-width: $responsive-size)
        width: 50px
    .account__name
        display: flex
        line-height: 1
        font-weight: 800
        flex-direction: column
        justify-content: right
        align-items: flex-end
        color: $text
        @media screen and (max-width: $responsive-size)
            display: none
    .account__menu
        display: flex
        justify-content: space-between  
        align-items: center
        padding: 5px
        cursor: pointer
        border-radius: 30px
            
        &:hover
            background-color: getShade($third-color, 10%)

#menu-button
    @media screen and (max-width: $responsive-size)
        display: none

// sidebar
.sidebar
    @media screen and (max-width: $responsive-size)
            display: none
    position: fixed
    background-color: $main-color
    width: 300px
    height: 100vh
    padding-top: 100px
    .active
        color: $text
    li
        cursor: pointer
        &:hover
            color: $fourth-color
    ul 
        display: flex
        flex-direction: column
        align-items: center
        line-height: 1.5
        color: $third-color
        font-weight: 1000
        font-size: 1.2rem
        li
            margin-top: 10px
            width: 200px
            + ul
                margin-left: 20px
                font-size: 1rem
    .contact
        position: fixed
        display: flex
        flex-direction: row
        border-radius: 0px 100px 100px 0px
        bottom: 50px
        width: 125px
        height: 50px
        background-color: $third-color
        div
            margin-left: 40px
            width: 60px
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            svg
                display: flex
                justify-content: center
                align-items: center
                fill: $text
                &:hover
                    fill: $main-color