@font-face
    /* https://fonts.google.com/specimen/Nunito */
    font-family: 'Nunito'
    src: url(../font/Nunito-Regular.ttf)

@font-face
    /* https://fonts.google.com/specimen/Nunito */
    font-family: 'Nunito Italic'
    src: url(../font/Nunito-Italic.ttf)
    
$main-color: #3CE0A0
$second-color: #E4F4ED
$third-color: #FFFFFF
$fourth-color: #FFD900
$text: #363636
$small-text: #757575
$gradient-first: $second-color
$gradient-second: #F9F9F9
$gradient: linear-gradient(180deg, $second-color 0%, $gradient-second 100%)

*
    margin: 0
    padding: 0
    font-family: 'Nunito'

body
    background-color: lightblue

header
    position: fixed
    width: 100%
nav
    background-color: $third-color
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 20px
    
.account
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-around
    width: 150px
    .account__name
        display: flex
        line-height: 1
        font-weight: 800
        flex-direction: column
        justify-content: right
        align-items: flex-end
        color: $text
    .account__menu
        display: flex
        justify-content: space-between  
        align-items: center
            