@font-face {
  /* https://fonts.google.com/specimen/Nunito */
  font-family: "Nunito";
  src: url(../font/Nunito-ExtraBold.ttf);
}
@font-face {
  /* https://fonts.google.com/specimen/Nunito */
  font-family: "Nunito Italic";
  src: url(../font/Nunito-Italic.ttf);
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 100px;
  height: 300px;
  background: linear-gradient(180deg, #E4F4ED 0%, #F9F9F9 100%);
}
.heading h1 {
  color: #363636;
  font-weight: 2000;
  font-size: 3.5rem;
  text-align: center;
}
@media screen and (max-width: 1350px) {
  .heading h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 800px) {
  .heading {
    height: 600px;
  }
  .heading h1 {
    font-size: 2.5rem;
  }
}

.btn-patient {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 1350px) {
  .btn-patient {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (max-width: 800px) {
  .btn-patient {
    display: flex;
    flex-direction: column;
    height: 800px;
  }
}
.btn-patient div {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-inline: 50px;
  font-weight: 600;
  height: 80px;
  border-radius: 100px;
  border: 3px solid #3CE0A0;
  background-color: #FFFFFF;
  color: #363636;
  max-width: 150px;
}
@media screen and (max-width: 1350px) {
  .btn-patient div {
    margin-top: 20px;
  }
}
.btn-patient div p {
  padding-inline: 10px;
}
.btn-patient div svg {
  padding-inline: 10px;
  fill: #3CE0A0;
  stroke: #3CE0A0;
}
.btn-patient div svg #svg1 {
  stroke: #FFFFFF;
}
.btn-patient div svg #svg2 {
  fill: #FFFFFF;
}
#addbutton:hover {
  background-color: #20c987;
}

.btn-patient div:hover, .btn-patient #active, #addbutton {
  color: #FFFFFF;
  background-color: #3CE0A0;
}
.btn-patient div:hover svg, .btn-patient #active svg, #addbutton svg {
  fill: #FFFFFF;
  stroke: #FFFFFF;
}
.btn-patient div:hover svg #svg1, .btn-patient #active svg #svg1, #addbutton svg #svg1 {
  stroke: #3CE0A0;
}
.btn-patient div:hover svg #svg2, .btn-patient #active svg #svg2, #addbutton svg #svg2 {
  fill: #3CE0A0;
}

.triangle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.triangle div {
  width: 100px;
  height: 50px;
  background-color: #F9F9F9;
  clip-path: polygon(100% 0, 0 0, 50% 50%);
}
@media screen and (max-width: 800px) {
  .triangle {
    margin-left: 0px;
  }
}

.searching-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
}
.searching-menu h2 {
  color: #3CE0A0;
  font-size: 2.2rem;
}
.searching-menu p {
  width: 300px;
  color: #757575;
  text-align: center;
}
.searching-menu input {
  border-radius: 100px;
  height: 70px;
  width: 500px;
  border: 1px solid #DDDDDD;
  text-align: center;
  color: #363636;
  font-size: 1.5rem;
}
.searching-menu input:focus {
  outline: none;
  border: 1px solid #3CE0A0;
}

/*# sourceMappingURL=patients.css.map */
